extends layout

block vars
    - let title = '旅游网'

block content
    // banner
    .banner
        // header
        .header
            .container
                .header-logo
                    a(href='/')
                        img(src='/public/images/home/mars-logo.png', alt='logo')
                .top-nav
                    span.menu  
                    ul.nav1
                        li
                            a.active.scroll(href='/') 首页
                        li
                            a.scroll(href='#about') 关于我们
                        li
                            a.scroll(href='#portfolio') 投资合作
                        li
                            a.scroll(href='#team') 我们的团队
                        li
                            a.scroll(href='#blog') 微博
                        li
                            a.scroll(href='#contact') 联系我们
                .clearfix  
        // //header
        .container
            .banner-title
                h5 梦想中的地方
                h1
                    span 旅行者 
                    |  心目中的天堂，更多美丽的地方在等待着你的到来。
                    span  行动起来吧
                .download
                    a(href='#') 在地图上显示
    // //banner
    #about.about
        .container
            h3 关于我们
            span
            p
                | "火星人"——人是互联，社交的最基本元素，作为一家以人为本的互联网企业，团队是公司的核心竞争力，我们始终坚持用最前沿的技术助力企业转型互联网+，实现全球化，数据化和智能化
    .about-bottom
        .col-md-6.about-bottom-left
            h4 火星云和火星人
            p.top
            
            p
                | 南宁火星人信息科技有限公司由留学人员杜聪回国创办，是一家致力于电子商务系统研发及提供相关配套增值服务的企业，公司在英国伦敦设有分部。公司将凭借总经理多年在英国为多家电子商务和网络媒体公司提供咨询服务的经验，能够为正在从事或即将设计电子商务的企业提供配套的增值性的咨询服务，其中包括电子商务整合方案策划，B2B,B2C整体解决方案，移动APP解决方案，网络媒体市场营销，网络品牌及形象推广，网络用户调研，数据采集和经济模型分析，项目预算与评估，财务分析和融资方案等。
            .read-more
                a(href='#')
                    | 读取更多
                    span
        .col-md-6.about-bottom-right
            img(src='/public/images/home/img1.jpg', alt='')
        .clearfix  
    .service
        .container
            h4 我们提供的服务
            p
                | Volutpat wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                | consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                | feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
            .service-grids
                .col-md-4
                    img(src='/public/images/home/icon1.png', alt='')
                    h5 咨询
                    p
                        | Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam
                .col-md-4
                    img(src='/public/images/home/icon2.png', alt='')
                    h5 旅游行程
                    p
                        | Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam
                .col-md-4
                    img(src='/public/images/home/icon3.png', alt='')
                    h5 安全研究
                    p
                        | Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam
                .clearfix  
    // skills
    .skills
        .container
            h4 我们的优势
            .skill-circles
                .circle-grids
                    #circles-1.circle
                    lable 指导
                .circle-grids
                    #circles-2.circle
                    lable 特殊优惠
                .circle-grids
                    #circles-3.circle
                    lable 酒店
                .circle-grids
                    #circles-4.circle
                    lable 美食
                .circle-grids.crcl-5
                    #circles-5.circle
                    lable 咨询

                .clearfix  
    // project
    #portfolio.projects.about
        .container
            h3 最近的一次旅行
            span
            p
                | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
    .project-gallery
        .gallery-grids
            .gallery-grids-info
                img(src='/public/images/home/img3.jpg', alt='')
                .caption
                    h4 PAPERCLIPS
                    span
                    p BRANDING
            .gallery-grids-info
                img(src='/public/images/home/img4.jpg', alt='')
                .caption
                    h4 PAPERCLIPS
                    span
                    p BRANDING
            .gallery-grids-info
                img(src='/public/images/home/img5.jpg', alt='')
                .caption
                    h4 PAPERCLIPS
                    span
                    p BRANDING
            .gallery-grids-info
                img(src='/public/images/home/img6.jpg', alt='')
                .caption
                    h4 PAPERCLIPS
                    span
                    p BRANDING
            .clearfix  
        .project-portfolio
            .container
                h4 LATEST FROM TWITTER
                p Trying out velositey - a simple website building extension for Photoshop.
                a(href='#') buff.ly/NC8gog
        .gallery-grids
            .gallery-grids-info
                img(src='/public/images/home/img3.jpg', alt='')
                .caption
                    h4 PAPERCLIPS
                    span
                    p BRANDING
            .gallery-grids-info
                img(src='/public/images/home/img4.jpg', alt='')
                .caption
                    h4 PAPERCLIPS
                    span
                    p BRANDING
            .gallery-grids-info
                img(src='/public/images/home/img5.jpg', alt='')
                .caption
                    h4 PAPERCLIPS
                    span
                    p BRANDING
            .gallery-grids-info
                img(src='/public/images/home/img6.jpg', alt='')
                .caption
                    h4 PAPERCLIPS
                    span
                    p BRANDING
            .clearfix  
        .sea-all.read-more
            a(href='#')
                | 查看更多
                span
    // //project
    // team
    #team.team
        .container
            .about
                h3 我们的团队成员
                span
                p
                    | 最优秀的团队，给您带来最优秀的服务
            .team-grids
                .col-md-4.col-xs-12.team-grids-info
                    img(src='/public/images/home/img7.jpg', alt='')
                    .team-grids-text
                        h3 米切尔·安德森
                        h5 创意总监
                    .icons
                        ul
                            li
                                a(href='#')
                            li
                                a.fb(href='#')
                            li
                                a.in(href='#')
                .col-md-4.col-xs-12.team-grids-info
                    img(src='/public/images/home/img13.jpg', alt='')
                    .team-grids-text
                        h3 米切尔·安德森
                        h5 创意总监
                    .icons
                        ul
                            li
                                a(href='#')
                            li
                                a.fb(href='#')
                            li
                                a.in(href='#')
                .col-md-4.col-xs-12.team-grids-info
                    img(src='/public/images/home/img7.jpg', alt='')
                    .team-grids-text
                        h3 米切尔·安德森
                        h5 创意总监
                    .icons
                        ul
                            li
                                a(href='#')
                            li
                                a.fb(href='#')
                            li
                                a.in(href='#')
                .clearfix  
    // //team
    // clients
    .our-clients
        .container
            #top.callbacks_container
                ul#slider3.rslides
                    li
                        h4 我们的客户
                        p
                            | “我也很高兴与伊姆兰工作。他工作非常努力，以满足我们的要求和通信是伟大的。他是非常敬业和专业。“
                        span John Doe
                        a(href='#') www.yourwebsite.zt
                    li
                        h4 我们的客户
                        p
                            | “我也很高兴与伊姆兰工作。他工作非常努力，以满足我们的要求和通信是伟大的。他是非常敬业和专业。“
                        span Doe John
                        a(href='#') www.yourwebsite.zt
                    li
                        h4 我们的客户
                        p
                            | “我也很高兴与伊姆兰工作。他工作非常努力，以满足我们的要求和通信是伟大的。他是非常敬业和专业。“
                        span MR.John Doe
                        a(href='#') www.yourwebsite.zt
    // //clients
    // blog
    #blog.blog
        .container
            .about
                h3 我们的博客
                span  
                p
                    | 想更多的了解我们吗，那就登陆我们的博客，更多有趣新鲜的文章等你浏览
            .blog-grids
                .blog-grids-left

                    #top.callbacks_container
                        ul#slider4.rslides
                            li
                                img(src='/public/images/home/img8.jpg', alt='')
                            li
                                img(src='/public/images/home/img9.jpg', alt='')
                            li
                                img(src='/public/images/home/img10.jpg', alt='')
                .blog-grids-right
                    span 10 April 2014
                    h4
                        a(href='#') 怀柔神堂峪旅游攻略
                    p
                        | 驿捷度假连锁酒店(怀柔神堂峪店)坐落于神堂峪风景区脚下的雁栖镇官地村，依山傍水，别样雅致。这里融山川、河流、奇峰、怪石及古长城为一体，是一个环境幽静、没有干扰、没有污染、仙镜般的世外桃源。闻名的雁栖河贵穿全区，水质清纯，流水不断。天然形成的龙潭、鸳鸯池、鳄鱼潭、水城宽阔，清澈见底。智者乐山，仁者乐水，来到山水环绕的驿捷神堂峪店，您即是乐者，更是智者。
                        a.bracket(href='#') [...]
                .clearfix  
                .caption-imag
                    .round-shape
                        p a
            .blog-grids
                .blog-grids-left.lt-text
                    span 20 March 2014
                    h4
                        a(href='#') 怀柔神堂峪旅游攻略
                    p
                        | 驿捷度假连锁酒店(怀柔神堂峪店)坐落于神堂峪风景区脚下的雁栖镇官地村，依山傍水，别样雅致。这里融山川、河流、奇峰、怪石及古长城为一体，是一个环境幽静、没有干扰、没有污染、仙镜般的世外桃源。闻名的雁栖河贵穿全区，水质清纯，流水不断。天然形成的龙潭、鸳鸯池、鳄鱼潭、水城宽阔，清澈见底。智者乐山，仁者乐水，来到山水环绕的驿捷神堂峪店，您即是乐者，更是智者。
                        a.bracket(href='#') [...]
                .blog-grids-right.rt-img
                    a(href='#')
                        img(src='/public/images/home/img11.jpg', alt='')
                .clearfix  
                .caption-imag
                    .round-shape
                        p a
            .blog-grids
                .blog-grids-left
                    a(href='#')
                        img(src='/public/images/home/img12.jpg', alt='')
                .blog-grids-right
                    span 10 January 2014
                    h4
                        a(href='#') 怀柔神堂峪旅游攻略
                    p
                        |驿捷度假连锁酒店(怀柔神堂峪店)坐落于神堂峪风景区脚下的雁栖镇官地村，依山傍水，别样雅致。这里融山川、河流、奇峰、怪石及古长城为一体，是一个环境幽静、没有干扰、没有污染、仙镜般的世外桃源。闻名的雁栖河贵穿全区，水质清纯，流水不断。天然形成的龙潭、鸳鸯池、鳄鱼潭、水城宽阔，清澈见底。智者乐山，仁者乐水，来到山水环绕的驿捷神堂峪店，您即是乐者，更是智者。
                        a.bracket(href='#') [...]
                .clearfix  
                .caption-imag
                    .round-shape
                        p a
    // //blog
    // contact
    .contact
        #contact.container
            h3 联系我们
            form
                input(type='text', value='姓名*', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Name*';}", required='')
                input(type='email', value='邮箱*', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Email*';}", required='')
                textarea(type='text', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Message...';}", required='') 信息...
                input(type='submit', value='提交')
    // //contact
    // footer
    .footer
        .container
            .footer-grids
                .col-md-3.footer-logo
                    a(href='/')
                        img(src='/public/images/home/mars-logo.png', alt='logo')
                    p
                        | 我们采用了独有的技术开发方式，最求最低成本下质量最高细节完美。与运营结合的技术思维和丰富的案例实践经验为企业提供最专业最可靠技术平台服务。
                    p.logo-text
                        | 充分发挥数据优势和机器学习的优势，以最实时的方式监测产品和服务质量，并能以开放的方式进行深度的业务分析，帮助用户全面掌握每一份有效数据，做最精准的商业决策。
                .col-md-3.recent-posts
                    h4 最近的帖子
                    .recent-posts-text
                        h5 2018年10月30日
                        p 怀柔神堂峪旅游攻略
                    .recent-posts-text
                        h5 2018年10月30日
                        p 怀柔神堂峪旅游攻略
                    .recent-posts-text
                        h5 2018年10月30日
                        p 怀柔神堂峪旅游攻略
                .col-md-3.recent-posts
                    h4 推特交流版
                    .recent-posts-text
                        h5
                            | 大约两天前
                            span @kristianplatt
                        p 托尼
                    .recent-posts-text
                        h5
                            | 大约两天前
                            span @fasteven
                        p 詹姆斯
                    .recent-posts-text
                        h5
                            | 大约两天前
                            span @streamer
                        p 皮特
                .col-md-3.address
                    h4 我们的地址
                    ul
                        li
                            span
                            | 广西南宁市科园大道东五路4号南宁软件园1楼
                        li
                            span.ph-no
                            | 0771-3216270
                        li
                            span.mail
                            a(href='mailto:info@mars-it.net') info@mars-it.net
                .clearfix  

    .footer-bottom
        p
            | © 2018 火星云 Designed By Mars-IT All Rights Reserved
            |  - 桂ICP备15003644号-2
            

    script(type='text/javascript').
        
    a#toTop(href='#', style='display: block;')
        span#toTopHover(style='opacity: 1;')  


block script
    script.
        $( "span.menu" ).click(function() {
            $( "ul.nav1" ).slideToggle( 300, function() {
        // Animation complete.
            });
        });

        $(document).ready(function() {
            $().UItoTop({ easingType: 'easeOutQuart' });
         });
            $(function () {
            $("#slider4").responsiveSlides({
            auto: true,
            pager:true,
            nav:true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
            $('.events').append("<li>before event fired.</li>");
             },
            after: function () {
            $('.events').append("<li>after event fired.</li>");
                     }
                });
            });

          
            $(function () {
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager:true,
                    nav:false,
                    speed: 500,
                    namespace: "callbacks",
                before: function () {
                $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                $('.events').append("<li>after event fired.</li>");
                }
                });
            });

             var colors = [
                    ['#79796D', '#FFFFFF'], ['rgb(69, 69, 59)', '#FFFFFF'], ['#1F1E19', '#FFFFFF'], ['#1F1E19', '#FFFFFF'],['#0F0E0A', '#FFFFFF']
                    ];
                    for (var i = 1; i <= 5; i++) {
                    var child = document.getElementById('circles-' + i),
                    percentage = 75;
                    Circles.create({
                    id:         child.id,
                    percentage: 75,
                    radius:     80,
                    width:      4,
                    number:   	85,
                    text:       '%',
                    colors:     colors[i - 1]
                    });
                    }